<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pixel Painter</title>
  <style>
    .row {
      display:flex;
    }
    .dot {
      width:10px;
      height:10px;
      border:2px solid;
    }
    canvas{
      /* width:200px; 如果canvas设置了大小，放大时会按显示的宽高来算，这样很容易就超出画布范围 */
    }
    .canvas-wrapper {
      border: 2px solid;
      /*display: inline-block;*/
      width: max-content;
      position: relative;
      width: 1280px;
      height: 720px;
      overflow: hidden;
      margin: 0 auto;
    }
    canvas {
      position: absolute;
      box-shadow: 0 0 5px grey;
      /*transform: scale(2);*/
      transform-origin: top left;
    }
    .common-colors {
      background-color: #eee;
      padding: 3px;
      margin: 0 auto;
      width: 1280px;
    }
    button {
      margin-right: 20px;
    }
    input {
      margin-right: 20px;
    }
    .color-card {
      width: 25px;
      height: 25px;
      background-color: currentColor;
      border-radius: 2px;
      display: inline-block;
      margin: 5px;
      vertical-align: bottom;
    }
    .color-card.active {
      border: 2px solid;
      margin: 3px;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="canvas-wrapper">
      <!--<div class="row" v-for="(row,y) in pixelData">
        <span @click="drawdot(x,y,color)" class="dot" v-for="(dotColor,x) in row" :style="{background:dotColor}"></span>
      </div> 被性能优化掉了-->
      <canvas @mousedown="prepareDrag" @click="handleCanvasClick" ref="canvas" :width="width" :height="height" style="top:0px;left:0px;"> </canvas>
    </div>

    <!-- 颜色选择器可以用饿了吗上的组件 -->
    <!--<label v-for="c of commonColors" :style="{color:c.name}"> 
       对象里不许有；所以插值的style也不能有分号的结尾 
      <input type="radio" v-model="color" :value="c.value" >{{c.name}}
    </label>-->
    <div class="common-colors">
      <button @click="startPickingColor">{{isPickingColor ? '正在取色' : '取色'}}</button>
   
      <input type="color" v-model="color"> 
      <span v-for="c of commonColors" @click="color=c" :class="{'color-card':true,active:c==color}" :style="{color:c}"></span>
    </div> 
  </div>
</body>
<script src="vue-2.5.17.js"></script>
<script>
  const app = new Vue({
    el:'#app',
    data(){
      return {
        pixelData:[],
        commonColors: ["#000000", "#ffffff", "#aaaaaa", "#555555", "#fed3c7", "#ffc4ce", "#faac8e", "#ff8b83", "#f44336", "#e91e63", "#e2669e", "#9c27b0", "#673ab7", "#3f51b5", "#004670", "#057197", "#2196f3", "#00bcd4", "#3be5db", "#97fddc", "#167300", "#37a93c", "#89e642", "#d7ff07", "#fff6d1", "#f8cb8c", "#ffeb3b", "#ffc107", "#ff9800", "#ff5722", "#b83f27", "#795548"],
        color:'#ff0000',
        width:1280,
        height:720,
        isPickingColor:false,
        zoomFactor: 1
      }
    },
    methods:{
      prepareDrag(e){
        var canvas = this.$refs.canvas
        var startX = e.clientX
        var startY = e.clientY
        var posX = parseInt(canvas.style.left)
        var posY = parseInt(canvas.style.top)
        var moveHandler
        var upHandler
        var moved = false
        canvas.addEventListener('mousemove', moveHandler = e => {
          var currX = e.clientX
          var currY = e.clientY
          var diffX = currX - startX
          var diffY = currY - startY
          if (diffX > 1 && diffY > 1){
            moved = true
          }
          canvas.style.left = posX + diffX + 'px'
          canvas.style.top = posY + diffY + 'px'
        })
        canvas.addEventListener('mouseup', upHandler = e => {
          canvas.removeEventListener('mousemove', moveHandler)
          canvas.removeEventListener('mouseup', upHandler)
          if (!moved) {
            this.handleCanvasClick(e)
          }
        })
      },
      makeCursorImgUrl(color) {
        var cursor = document.createElement('canvas')
        var ctx = cursor.getContext('2d')
        cursor.width = 41
        cursor.height = 41
        ctx.beginPath()
        ctx.lineWidth = 2
        ctx.strokeStyle = '#000000'
        ctx.moveTo(0, 6)
        ctx.lineTo(12, 6)
        ctx.moveTo(6, 0)
        ctx.lineTo(6, 12)
        ctx.stroke()

        ctx.beginPath()
        ctx.arc(25, 25, 14, 0, 2 * Math.PI, false)
        ctx.lineWidth = 2
        ctx.strokeStyle = '#000000'
        ctx.stroke()
        ctx.beginPath()
        ctx.arc(25, 25, 13.4, 0, 2 * Math.PI, false)
        ctx.fillStyle = color
        ctx.fill()

        // document.getElementById('canvas').style.cursor = 'crosshair'
        // document.getElementById('canvas').style.cursor = 'url(' + cursor.toDataURL() + ') 6 6, crosshair'
        return cursor.toDataURL()
      },
      //子父通信 时候 ，自定义事件，一个事件 里面其实可能包着好多个事件 
      handleCanvasClick(e){ //一个函数分发两种情况
        console.log(e.offsetX,e.offsetY)
        if(this.isPickingColor){
          this.pickColor(e)
        }else{
          this.drawdot(e)
        }
      },
      rgba2hex(dot){
        //注意：uint8map出来的也是uint8
        dot = Array.from(dot)
        dot = dot.map(it => it.toString(16).padStart(2,'0'))
        
        return '#' + dot[0] + dot[1] + dot[2]
      },
      updateCursor(e) {
        var color = this.getCurrHoverColor(e)
        var cursorUrl = this.makeCursorImgUrl(color)
        console.log(color,cursorUrl)
        this.$refs.canvas.style.cursor = `url(${cursorUrl}) 6 6, crosshair`;
      },
      startPickingColor () {
        this.isPickingColor = true
        this.$refs.canvas.addEventListener('mousemove',this.updateCursor)
      },
      getCurrHoverColor(e) {
        var x = e.offsetX
        var y = e.offsetY
        var p = this.ctx.getImageData(x,y,1,1).data
        var hexColor = this.rgba2hex(p)
        return hexColor
      },
      pickColor(e){
        //int8ClampedArray(4) [255, 255, 255, 255] 取到的是1*1的rgba颜色数组，而如果是2*2则是返回四个点16项的数组
        var hexColor = this.getCurrHoverColor(e)
        this.color = hexColor
        this.isPickingColor = false
        this.$refs.canvas.removeEventListener('mousemove',this.updateCursor)
        this.$refs.canvas.style.cursor = ''
      },
      drawdot(e){
        var clientX = e.clientX
        var clientY = e.clientY
        var rect = this.$refs.canvas.getBoundingClientRect()
        var x = (clientX - rect.left) / this.zoomFactor
        var y = (clientY - rect.top) / this.zoomFactor
        // 鼠标距离浏览器边缘的位置 - 元素到历览器边缘的位置 = 鼠标这个点在画布的位置
        this.ws.send(JSON.stringify({
          type: 'drawdot',
          x: parseInt(x),
          y: parseInt(y),
          color:this.color,
        }))
      },
      initZoom() {
        console.log('init')
        // 注意 ：DOMMouseScroll 区分大小写，无法在html中直接解析  且不支持chrome
        var canvas = this.$refs.canvas
        this.$refs.canvas.parentNode.addEventListener('mousewheel', (e) => {
          console.log(e)
          e.preventDefault()
          if (e.deltaY < 0) {
            this.zoomFactor = this.zoomFactor * 1.25
          } else {
            this.zoomFactor = this.zoomFactor * 0.8
          }
          if(this.zoomFactor < 1) {
            this.zoomFactor = 1
          }
          if(this.zoomFactor > 40) {
            this.zoomFactor = this.zoomFactor * 0.8
          }
          if (this.zoomFactor == 1) {
            canvas.style.left = '0px'
            canvas.style.top = '0px'
          }
          canvas.style.transform = `scale(${this.zoomFactor})`
        })
      }
    },
    mounted(){ //这种写法不是=>这种this会变的function ，就是传统的function
      this.initZoom()
      var ws = new WebSocket('ws://localhost:9095/pixel')
      //var ws = io()
      this.ws = ws 
      var canvas = this.$refs.canvas
      canvas.style.imageRendering = 'pixelated' //在浏览器中的图片显示不有模糊效果
      var ctx = canvas.getContext('2d')
      this.ctx = ctx 
      ws.onmessage = (e) => {
        //以图片形式储存之后 传来的就有可能是一个 blob了
        // 不能用之前结构赋值的方法直接读data字段
        var data = e.data 
      // ws.onmessage = ({data}) => {  
        //传进来的参数不管，把这个参数的data字段拿出来赋值了
        //解构赋值
        //let node = { type:"xxx",name:"foo"}
        //let {type,name} = node  type = "xxx" na                                 me="foo"
        //服务器先发过来画布的状态（每个点的状态 
        if(Object.prototype.toString.call(data) === '[object Blob]'){
          console.log("blob data ")
          var tmpUrl = URL.createObjectURL(data)
          var image = new Image()
          image.src = tmpUrl 
          image.onload = () => { //获取src立刻draw不上 要等一下 
            ctx.drawImage(image,0,0)
          }
        }else {
          data = JSON.parse(data) //如果不用箭头函数 this的值会变成 ws
          //字符串数据才需要JSON.parse
           //if(data.type === 'init'){ //存成png后就 不会发过来这个type的信息了
          // this.pixelData = data.pixelData
          // this.width = data.pixelData[0].length
          // this.height = data.pixelData.length 
          // Vue.nextTick(() => { //要canvas被重新渲染之后才画 
          //   data.pixelData.forEach((row,y) => {
          //     row.forEach((color,x) => {
          //       ctx.fillStyle = color
          //       ctx.fillRect(x,y,1,1)
          //     }) 
          //   })
          // })
          //} else 
          if(data.type == "updatedot"){
          // Vue.set(this.pixelData[data.y],data.x ,data.color)
          //对象，要设置的属性，设置为的值
            ctx.fillStyle = data.color
            ctx.fillRect(data.x,data.y,1,1)
          }
        }
      }
    }
  })
</script>
</html>