<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pixel Painter</title>
  <style>
    .row {
      display:flex;
    }
    .dot {
      width:10px;
      height:10px;
      border:2px solid;
    }
    .canvas{
      border:2px solid;
      width:max-content;
    }
    canvas{
      /* width:200px; 如果canvas设置了大小，放大时会按显示的宽高来算，这样很容易就超出画布范围 */
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="canvas">
      <!--<div class="row" v-for="(row,y) in pixelData">
        <span @click="drawdot(x,y,color)" class="dot" v-for="(dotColor,x) in row" :style="{background:dotColor}"></span>
      </div> 被性能优化掉了-->
      <canvas @click="handleCanvasClick" ref="canvas" :width="width" :height="height"> </canvas>
    </div>
    <button @click="isPickingColor=true">{{isPickingColor ? '正在取色' : '取色'}}</button>
   
    <input type="color" v-model="color"> 
    <!-- 颜色选择器可以用饿了吗上的组件 -->
    <label v-for="c of commonColors" :style="{color:c.name}"> 
      <!-- 对象里不许有；所以插值的style也不能有分号的结尾 -->
      <input type="radio" v-model="color" :value="c.value" >{{c.name}}
    </label>
    <div class="common-colors">
      <span v-for="c of commonColors" @click="color=c" :class="{'color-card':true,active:c==color}" :style="{color:c}"></span>
    </div> 
  </div>
</body>
<script src="vue-2.5.17.js"></script>
<script>
  const app = new Vue({
    el:'#app',
    data(){
      return {
        pixelData:[],
        commonColors:[{
          name:'red',
          value:'#ff0000'
        },{
          name:'yellow',
          value:'#ffff00'
        },{
          name:'green',
          value:'#008000'
        },{
          name:'blue',
          value:'#0000ff'
        },{
          name:'black',
          value:'#000000'
        }],
        // commonColors: ["#000000", "#ffffff", "#aaaaaa", "#555555", "#fed3c7", "#ffc4ce", "#faac8e", "#ff8b83", "#f44336", "#e91e63", "#e2669e", "#9c27b0", "#673ab7", "#3f51b5", "#004670", "#057197", "#2196f3", "#00bcd4", "#3be5db", "#97fddc", "#167300", "#37a93c", "#89e642", "#d7ff07", "#fff6d1", "#f8cb8c", "#ffeb3b", "#ffc107", "#ff9800", "#ff5722", "#b83f27", "#795548"],
        color:'#ff0000',
        width:256,
        height:256,
        isPickingColor:false,
      }
    },
    methods:{
      //子父通信 时候 ，自定义事件，一个事件 里面其实可能包着好多个事件 
      handleCanvasClick(e){ //一个函数分发两种情况
        console.log(e.offsetX,e.offsetY)
        if(this.isPickingColor){
          this.pickColor(e)
        }else{
          this.drawdot(e)
        }
      },
      rgba2hex(dot){
        //注意：uint8map出来的也是uint8
        dot = Array.from(dot)
        dot = dot.map(it => it.toString(16).padStart(2,'0'))
        
        return '#' + dot[0] + dot[1] + dot[2]
      },
      pickColor(e){
        var x = e.layerX
        var y = e.layerY
        var p = this.ctx.getImageData(x,y,1,1).data
        //int8ClampedArray(4) [255, 255, 255, 255] 取到的是1*1的rgba颜色数组，而如果是2*2则是返回四个点16项的数组
        var hexColor = this.rgba2hex(p)
        this.color = hexColor
        this.isPickingColor = false
      },
      drawdot(e){
        this.ws.send(JSON.stringify({
          type: 'drawdot',
          x:e.layerX,
          y:e.layerY,
          color:this.color,
        }))
      }
    },
    mounted(){ //这种写法不是=>这种this会变的function ，就是传统的function
      var ws = new WebSocket('ws://localhost:9095/pixel')
      //var ws = io()
      this.ws = ws 
      var canvas = this.$refs.canvas
      canvas.style.imageRendering = 'pixelated' //在浏览器中的图片显示不有模糊效果
      var ctx = canvas.getContext('2d')
      this.ctx = ctx 
      ws.onmessage = (e) => {
        //以图片形式储存之后 传来的就有可能是一个 blob了
        // 不能用之前结构赋值的方法直接读data字段
        var data = e.data 
      // ws.onmessage = ({data}) => {  
        //传进来的参数不管，把这个参数的data字段拿出来赋值了
        //解构赋值
        //let node = { type:"xxx",name:"foo"}
        //let {type,name} = node  type = "xxx" na                                 me="foo"
        //服务器先发过来画布的状态（每个点的状态 
        if(Object.prototype.toString.call(data) === '[object Blob]'){
          console.log("blob data ")
          var tmpUrl = URL.createObjectURL(data)
          var image = new Image()
          image.src = tmpUrl 
          image.onload = () => { //获取src立刻draw不上 要等一下 
            ctx.drawImage(image,0,0)
          }
        }else {
          data = JSON.parse(data) //如果不用箭头函数 this的值会变成 ws
          //字符串数据才需要JSON.parse
           //if(data.type === 'init'){ //存成png后就 不会发过来这个type的信息了
          // this.pixelData = data.pixelData
          // this.width = data.pixelData[0].length
          // this.height = data.pixelData.length 
          // Vue.nextTick(() => { //要canvas被重新渲染之后才画 
          //   data.pixelData.forEach((row,y) => {
          //     row.forEach((color,x) => {
          //       ctx.fillStyle = color
          //       ctx.fillRect(x,y,1,1)
          //     }) 
          //   })
          // })
          //} else 
          if(data.type == "updatedot"){
          // Vue.set(this.pixelData[data.y],data.x ,data.color)
          //对象，要设置的属性，设置为的值
            ctx.fillStyle = data.color
            ctx.fillRect(data.x,data.y,1,1)
          }
        }
      }
    }
  })
</script>
</html>